@{
    ViewBag.Title = "SignalRB";
}

<body>
    <div id="container1" style="height: 100%"></div>
    <script type="text/javascript" src="~/Scripts/Signal/echarts.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Signal/echarts-gl.js"></script>
    <script type="text/javascript" src="~/Scripts/Signal/ecStat.js"></script>
    <script type="text/javascript" src="~/Scripts/Signal/dataTool.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Signal/china.js"></script>
    <script type="text/javascript" src="~/Scripts/Signal/world.js"></script>
    <script type="text/javascript" src="~/Scripts/Signal/bmap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Signal/simplex.js"></script>
    <script src="@Url.Content("~/signalr/hubs")" type="text/javascript"></script>

    <script type="text/javascript">

        function refreshData1(data) {
            if (!myChart1) {
                return;
            }
            var optdata = JSON.parse(data);
            if (optdata.type != "VisitHotspot") { return; }
            //更新数据
            var option1 = myChart1.getOption();
            option1.series[0].data = [];
            for (var i = 0; i < optdata.visitHotspotLists.length; i++) {
                let mycars = new Array();
                mycars[0] = optdata.visitHotspotLists[i].xAxis;
                mycars[1] = optdata.visitHotspotLists[i].yAxis;
                mycars[2] = optdata.visitHotspotLists[i].Count;
                option1.series[0].data.push(
                    mycars
                );
            }
            myChart1.setOption(option1);
        }
        var dom = document.getElementById("container1");
        dom.style.width = window.innerWidth + 'px';
        var myChart1 = echarts.init(dom);
        option1 = null;

        var xAxisdata = ['50', '100', '150', '200', '250', '300',
            '350', '400', '450', '500', '550',
            '600', '650', '700', '750', '800', '850',
            '900', '950', '1000', '1050', '1100', '1150', '1200', '1250', '1300'];
        var yAxisdata = ['0-100', '100-200', '200-300',
            '300-400', '400-500', '500-600', '600-700', '700-800'];
        // [x:y:count]
        var data = [[0, 0, 5], [6, 19, 0], [6, 20, 1], [6, 21, 2], [6, 22, 2], [6, 23, 6]];

        data = data.map(function (item) {
            return [item[1], item[0], item[2] || '-'];
        });

        option1 = {
            tooltip: {
                position: 'top'
            },
            animation: false,
            grid: {
                height: '50%',
                y: '10%'
            },
            xAxis: {
                type: 'category',
                data: xAxisdata,
                name: '东↔西',
                nameLocation: 'end',
                nameGap: 20,
                axisTick: 13,
                nameTextStyle: {
                    color: '#fff',
                    fontSize: 16
                },
                axisLine: {
                    lineStyle: {
                        color: '#eee'
                    }
                }
            },
            yAxis: {
                type: 'category',
                data: yAxisdata,
                name: '南↔北',
                splitArea: {
                    show: true
                }, nameTextStyle: {
                    color: '#fff',
                    fontSize: 16
                },
                axisLine: {
                    lineStyle: {
                        color: '#eee'
                    }
                }
            },
            visualMap: {
                min: 0,
                max: 10,
                calculable: true,
                orient: 'horizontal',
                left: 'center',
                bottom: '15%'
            },
            series: [{
                name: 'Punch Card',
                type: 'heatmap',
                data: data,
                label: {
                    normal: {
                        show: true
                    }
                },
                itemStyle: {
                    emphasis: {
                        shadowBlur: 10,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }]
        };;
        if (option1 && typeof option1 === "object") {
            myChart1.setOption(option1, true);
        }
    </script>
</body>